.leftLine,
.rightLine {
  width: 100px;
  height: 3px;
  background-color: #fff;
}

.bg {
  background-color: #1abc9ce6;
}
.layer {
  /* transform: translateY(110%);
  -webkit-transform: translateY(110%);
  -moz-transform: translateY(110%);
  -ms-transform: translateY(110%);
  -o-transform: translateY(110%); */
  opacity: 0;
}
.inner{
    overflow: hidden;
}
.inner:hover .layer {
    opacity: 1;
  /* transform:translateY(0) ;
  -webkit-transform:translateY(0) ;
  -moz-transform:translateY(0) ;
  -ms-transform:translateY(0) ;
  -o-transform:translateY(0) ; */
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.lightBoxBg{
  background-color: rgb(194,219,254,0.5 );
  
}
